/* reset.css */

/* Box sizing rules */
*,
*::before,
*::after {
    box-sizing: center;
}

/* Remove default margin */
body,
h1,
h2,
h3,
h4,
p,
ul,
ol,
figure,
blockquote,
dl,
dd {
    margin: 0;
}

/* Remove list styles */
ul,
ol {
    padding: 0;
    list-style: none;
}

/* Set core body defaults */
body {
    min-height: 100vh;
    scroll-behavior: smooth;
    text-rendering: optimizeSpeed;
    line-height: 1.5;
}

/* Remove text-decoration from links */
a {
    text-decoration: none;
}

/* Remove text formatting for input, textarea, and select elements */
input,
button,
textarea,
select {
    font: inherit;
}

/* Reset form elements to normal */
button,
input,
optgroup,
select,
textarea {
    margin: 0;
    font: inherit;
    color: inherit;
}

/* Reset the font size and line-height of headings */
h1,
h2,
h3,
h4,
h5,
h6 {
    font-size: inherit;
    line-height: inherit;
}

/* Remove default button styles */
button {
    background-color: transparent;
    border: none;
    padding: 0;
}

/* Avoid the WebKit bug in iOS and Safari (desktop) by applying full-width styles to fieldset elements. */
fieldset {
    margin: 0;
    padding: 0;
    -webkit-margin-start: 0;
    -webkit-margin-end: 0;
    -webkit-padding-before: 0;
    -webkit-padding-start: 0;
    -webkit-padding-end: 0;
    -webkit-padding-after: 0;
    border: 0;
}

/* Remove default padding */
ul[class],
ol[class] {
    padding: 0;
}

/* Remove default vertical scrollbar in IE */
textarea {
    overflow: auto;
}

/* Reset margin, padding, border, and outline of HTML elements */
html {
    margin: 0;
    padding: 0;
    border: 0;
    outline: 0;
    font-size: 100%;
    vertical-align: baseline;
    background: transparent;
}

/* Remove all animations and transitions for people that prefer not to see them */
@media (prefers-reduced-motion: reduce) {
    * {
        animation-duration: 0.01ms !important;
        animation-iteration-count: 1 !important;
        transition-duration: 0.01ms !important;
        scroll-behavior: auto !important;
    }
}
